<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>chatgpt</string>
		<string>deepseek</string>
		<string>googlegemini</string>
		<string>gemini</string>
		<string>googleapp</string>
		<string>kimi</string>
		<string>moonshot</string>
	</array>
</dict>
</plist>
